/* CSS declarations go here */

@font-face {
    font-family: computer;
    src: url(256bytes.ttf);
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1.0;
    }  20% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}



body{

	font-family: "Helvetica", sans-serif;
	background: #000;
	color: #BBB;

}

h1{

	font-size: 40px;

}

.fade {
	-webkit-animation: fadeInOut 0.6s forwards; 
    animation: fadeInOut 0.6s forwards;
 }


.tbSpacer{
	margin: 10px 0; 
}

#numberBox{

	opacity: 0.25;
	display: block;
	background: white;
	text-decoration: none;
	color: #000;

}

#num{

	font-size: 200px;
	font-style: normal;

}
