/* CSS declarations go here */

@font-face {
    font-family: computer;
    src: url(256bytes.ttf);
}

@font-face {
    font-family: peter;
    src: url(peter.ttf);
}

@font-face {
    font-family: heather;
    src: url(mytype.ttf);
}

@font-face {
    font-family: rachel;
    src: url(simplysquare.ttf);
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1.0;
    }  20% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

@-webkit-keyframes shakin {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}



body{

	font-family: "Helvetica", sans-serif;

	background: #000;
	color: #BBB;

}

.peterUK{

    font-family: "peter", sans-serif;

}

.rachelUK{

     font-family: "rachel", sans-serif;
}

.heatherUS{

     font-family: "heather", sans-serif;
}

.scrollable{
    max-height: 700px;
    overflow: scroll;
}

h1{

	font-size: 40px;

}

.largeText{
	font-size: 35px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:2px;
    border:1px solid #555;
}
input[type='checkbox']:checked {
    background: #666;
}


.tbSpacer{
	margin: 10px 0; 
}

.lrSpacer{
	margin: 0px 10px; 
}

.selected{
    background: #000;

}

#onBox, #offBox{

    display: block;
    opacity: 0.35;
    text-decoration: none;
    color: #000;
    margin-top: 20px;

}

#onBox{
    background: #00FF00;
}

#offBox{
    background: red;
}

.onAnim{

    opacity: 1.0;
}


#numberBox{


	display: block;
	background: white;
	text-decoration: none;
	color: #000;
	margin-top: 40px;

}

#num{

	font-size: 200px;
	font-style: normal;

}

.bigText{

    font-size: 125px;
    font-style: normal;

}
